<div class="main-content">

        <div class="form-validation">


       <div class="form-row form-input-name-row">

                <label>
                    <span>Full name</span> : <span><%- user.name %> </span>
                </label>
       </div>

       <div class="form-row form-input-name-row">

                <label>
                    <span>Email</span> : <span><%- user.email %> </span>
                </label>
       </div>


       <div class="form-row form-input-name-row">

                <label>
                    <span>Age</span> : <span><%- user.age %> </span>
                </label>
       </div>


       <div class="form-row form-input-name-row">

                <label>
                   <a class="btn btn-mediun btn-primary" href="/user/edit/<%= user.id %>"> Edit</a>
                </label>
       </div>

    </div>

</div>